@media only screen and (max-width: 640px){
  header{
    display:none;
  }
  .header-nav{
    display:block;
  }
  .main{
    top:40%;
    left:26%;
  }
  .skill-contact{
    flex-wrap:wrap;
    padding-bottom:10px;
  }
  .skill-item{
    width:100%;
    padding-left:60px;
    padding-bottom:30px;
  }
  .skill-item img{
    width:70%;
    padding: 30px;
     border: 1px solid #ececec;
     border-radius: 50%;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);  
  }
  .about-contact{
    flex-wrap: wrap;
    padding-bottom:100px;
  }
  .about-item{
    width:100%;
  }
  .about-textarea{
    width:100%;
    text-align:left;
    padding-top:40px;
  }
  .service-contact{
    flex-wrap: wrap;
  }
  .service-item{
    width:100%;
  }
  .textbox{
    width:90%;
  } 
  .works-contact{
    flex-wrap: wrap;
  }
  .works-item{
    width:100%;
    padding:5px;
    padding-bottom:30px;
  } 
  .works-item1{
    width:100%;
    padding:10px 2px 0 2px;
    text-align: center;
    padding-bottom:30px;
  }
  .fa-chevron-down {
    left:45%;
  }
  #contact{
    text-align: center;
  }
  .container5{
    width:60%;
    margin:0 auto;
  }
  .heading4::before{
    content: '';
    display:block;
    width:100px;
    height:2px;
    background:#17a2b8;
    position:absolute;
    top:27px;
    left:-20px;
  }
  .heading4::after{
    content: '';
    display:block;
    width:100px;
    height:2px;
    background:#17a2b8;
    position:absolute;
    top:27px;
    right:-20px;
  }
}